 <template name="footer">

  <footer id="footer" class="footer">
      <div class="row"   id="address" style="padding:30px;"> 
        <div class="copyright col-xs-12 text-center">&nbsp;</div>
        <div class="pull-left col-xs-6" align="left"> {{getSettings 'address'}}
          <br>
          Phone: <a href="tel:{{phoneNumber.Value}}" class="phone">{{getSettings 'phone_number'}}</a> 
          {{#if hasFaxNumber faxNumber.Value}}
              <br>
            Fax: <a href="tel:{{faxNumber.Value}}" class="phone">{{faxNumber.Value}}</a> 
          {{/if}}
        </div>
        <div class="pull-right col-xs-6" align="right">
          <div class="head-social"> <a target="_blank" href="{{getSettings 'twitter_url'}}"><i class="fa fa-twitter fa-2x"></i></a> <br>
            <a id="footer-twitter" target="_blank" href="{{getSettings 'twitter_url'}}" >@dosaexpress</a> </div>
        </div>
      </div>
        <div class="copyright col-xs-12 text-center">Powered by <a href='http://websheets.io'>Websheets&#8482;</a> </div>
        <div class="copyright col-xs-12 text-center">&nbsp;</div>

  </footer>

</template>