<template name="headerConfirmation">

<header class="shadow" >
<table  >	
  <tr>
    <td align="left" valign="top" width="100%" >
      <center>
        <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#000" >
          <tr>
            <td width="100%" height="80" valign="top" style="text-align: center; vertical-align:middle;">

              <center>
                <table cellpadding="0" cellspacing="0" width="100%" >
                  <tr>
                    <td  style="vertical-align: middle;">
                      <img height="30" src="/img/dosa-logo2.png" alt="Dosa Express Logo" />
                      
                    </td>
                    <td align='right' style="color: #4d4d4d;">

                   <a href="http://twitter.com/dosaexpress"><img height="25" src="https://g.twimg.com/Twitter_logo_blue.png" alt="twitter" /></a>

                    </td>
                  </tr>
                </table>
              </center>

            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
</header>
</template>