<template name="homePage">


<!-- NAVIGATIONS END --> 
<!-- Main Page START -->
<main id="main">
  <div id="masthead" style="background-image:url(img/home/maxresdefault.jpg); background-position:center; background-size:cover; height:300px" >
    <div class="container"  align="center">
      <div class="row">
        <div class="col-md-12" style="color:white;padding-top:70px">
          <h1 id="page0" style="font-family: 'Rock Salt', sans-serif;text-shadow: 3px 2px 4px black;">{{getSettings 'store_name'}}</h1>
          <p class="lead"  style="font-family: 'Montserrat', sans-serif;text-shadow: 1px 2px 2px black;">{{getSettings 'tag_line'}}</p>
        </div>
      </div>
    </div>
    <!--/container--> 
    
  </div>
</main>

{{# if haveNotification notification isNotTakingOnlineOrder isStoreClosed }}

  <!-- Notification Alerts -->
  <!--<div class="alert alert-info alert-dismissible text-center" style="box-shadow: 2px 2px 2px rgba(1, 1, 0, 0.2);" role="alert"> -->
  <div class="alert alert-info  alert-dismissible text-center" style="box-shadow: 2px 2px 2px rgba(1, 1, 0, 0.2); background-color:#FEFF82; border: dashed thin  #FFB855;" role="alert">


  <button type="button" class=" fa fa-close close" data-dismiss="alert" aria-label="Close"></button>

  {{#each notification_message_session}}

  <h4>  <i class="fa  fa-flag"> &nbsp;</i>  {{this}}</h4>

  {{/each}}
</div>


<!-- End Notification Alerts -->
{{/if}}
<!-- Main Content --> 
<!-- Main > Start Menus-->
<section id="menucard">
<div class="col-xs-12" id="menu">
  <div class="row"  >

      {{#each getSettingsMulti "category_menu"}}

        {{#if isMenuAvailable Value}}

                    <div align="left" style="padding-left:15px;">
                        <div class="col-xs-12">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-xs-12">
                          
                          <h1 align='center'> ♨ {{ Value }} ♨ </h1>

                        </div>
                        <div class="col-xs-12">
                            <p>&nbsp;</p>
                        </div>


            {{ #each menu Value }}

                      <div class="col-lg-6" id="{{UniqueId}}">
                          <div class="the-menu-item {{soldOut fontLine}}">
                            <div class="image-wrap thumbnail">

                               <img src="{{imageFormatter}}{{ImageLink}}" alt=""> 

                           </div>
                              <div class="the-menu-body">
                                <h4 class="xsm">{{Name}}</h4>
                                <p class="small">{{Description}}</p>
                              </div>
                      {{#if isItemAvailable fontLine}}  

                            <div class="prices"> 

                                {{#if isItemInCart UniqueId }}

                                      {{#if isTakingOnlineOrder isNotTakingOnlineOrder isStoreClosed}}
                                          <button type="button" class="fa fa-check btn btn-success removecart " data-toggle="tooltip" data-placement="bottom" title='Remove from Cart'>
                                          <span class="price xsm"> {{currency Price}} </span>  
                                        </button>
 
                                       
                                      {{else}}
                                          <button type="button" class="fa fa-check btn btn-inverse" data-toggle="tooltip" data-placement="bottom" title="Store Closed">
                                          <span class="price xsm"> {{currency Price}} </span> 
                                           </button>

                                        {{/if}}


                                {{else}}

                                      {{#if isTakingOnlineOrder isNotTakingOnlineOrder isStoreClosed}}
                                        <button type="button" class="fa fa-shopping-cart  btn btn-default addcart" data-toggle="tooltip" data-placement="bottom" title="Add to Cart">

                                        <span class="price xsm"> {{currency Price}} </span>  
                                      </button>


                                      {{else}}

                                      <button type="button" class="fa fa-shopping-cart  btn btn-btn-inverse" data-toggle="tooltip" data-placement="bottom" title="Store closed">

                                        <span class="price xsm"> {{currency Price}} </span>  
                                      </button>


                                      {{/if}}
                                  {{/if}}
                            </div>
                      {{else}}

                              <div class="prices"> <span class="price xsm">{{ currency Price}}</span> </div>
                              <div class="highlight">SOLD OUT</div>  
                      
                      {{/if}} 
                          </div>
                      </div>

            {{/each}} 
                      




          </div>

          {{/if}}

        {{/each}}

  </div>
</div>
</section>


<!-- Main > End Menus --> 
<!-- Main Page END -->








</template>
